<div class="login">
  <div class="container">
    <div class="form">

    <h1>Cadastrar Usuário</h1>

    <%= form_for @user do |f| %>
      <%= f.email_field :email, :placeholder => "E-mail" %>
      <%= f.password_field :password, :placeholder => "Senha" %>
      <%= f.submit "Criar Conta", class: "btn-submit" %>
    <% end %>
  
    </div>
  </div>
</div>